[submodule "lib/rhythmbox_lastfm_sync"]
	path = lib/rhythmbox_lastfm_sync
	url = git@gitlab.com:kaymmm/rhythmbox-lastfm-sync
[submodule "lib/rhythmbox_playlist_generator"]
	path = lib/rhythmbox_playlist_generator
	url = git@gitlab.com:kaymmm/rhythmbox-playlist-generator
